@import "../../../styles/variables.scss";

.player {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 25%;
  padding: 10px;

  .player__trackName {
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 15px;
  }

  .player__controlers {
    padding: 5px;
    font-size: 15px;
    background-color: transparent;
    // border: 2px solid $green-color;

    .player__prev {
      transform: rotate(180deg);
    }
  }
}
