@import "../../styles/variables.scss";

.albums-section {
  flex-grow: 1;

  display: flex;
  flex-wrap: nowrap;
  margin: 10px;
  overflow-x: auto;

  @media (min-width: 1024px) {
    flex-wrap: wrap;
    overflow-x: none;
    overflow-y: auto;
    justify-content: flex-start;
    justify-items: center;
    align-items: flex-start;
    align-content: flex-start;
  }
}

.albums-section::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1024px) {
  .albums-section::-webkit-scrollbar {
    display: block;
  }
}

.albums-section__no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.albums-section__no-result-name {
  font-size: 18px;
}
