@import "../../styles/variables.scss";

.albumssection {
  flex-grow: 1;

  display: flex;
  flex-wrap: nowrap;
  margin: 10px;
  overflow-x: auto;

  @media (min-width: 1024px) {
    flex-wrap: wrap;
    overflow-x: none;
    overflow-y: auto;
    justify-content: flex-start;
    justify-items: center;
    align-items: flex-start;
    align-content: flex-start;
  }

  .albumssection__noResults {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .albumssection__noResultName {
      font-size: 18px;
    }
  }
}

.albumssection::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1024px) {
  .albumssection::-webkit-scrollbar {
    display: block;
  }
}
