@import "../../../styles/variables.scss";

.search-section__search-btn {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  font-size: 21px;
  border: none;
  background-color: transparent;
  color: $green-color;

  @media (min-width: 768px) and (orientation: portrait) {
    font-size: 24px;
  }

  @media (min-width: 1024px) {
    cursor: pointer;
  }
}
