.loginpage__loginBtn {
  padding: 10px 20px;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid green;
  border-radius: 30px;
  color: green;
}

.loginpage__registerBtn {
  margin-top: 10px;
  color: darkred;
  font-size: 15px;
}
