@import "../../../styles/variables.scss";

.albums-section__wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.albums-section__note {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  color: $green-color;
  font-size: 65px;
  text-shadow: 0 0 0 $green-color;
  border-radius: 50%;
  animation: shadow 0.8s ease alternate-reverse infinite;

  @keyframes shadow {
    from {
      transform: translate(-50%, -50%) scale(1);
    }
    to {
      transform: translate(-50%, -50%) scale(1.2);
    }
  }
}

.albums-section__image {
  width: 75vw;
  margin: 10px;
  box-shadow: 0 0 5px 1px black;
  border-radius: 15px;

  @media (orientation: landscape) {
    width: 22vw;
  }

  @media (min-width: 768px) and (orientation: portrait) {
    width: 50vw;
  }

  @media (min-width: 1024px) {
    width: 15vw;
  }

  @media (min-width: 1500px) {
    width: 12vw;
  }
}

.albums-section__hover-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  transition: 0.2s;
  text-align: center;

  @media (min-width: 1024px) {
    cursor: pointer;
  }
}

@media (min-width: 1024px) {
  .albums-section__hover-div:hover {
    opacity: 1;
  }
}

.albums-section__name-hover {
  font-size: 20px;
}
