.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  margin-top: 10px;
  background-color: whitesmoke;
  // border-radius: 20px;
  // box-shadow: 0 0 5px 2px black;

  .footer__author {
    font-size: 15px;
    text-transform: uppercase;
  }
}
