@import "../../styles/variables.scss";

.player {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px;
  background-color: $basic-bgc-color;
}

.player__track-name {
  width: 100%;
  padding: 5px;
  text-align: center;
  font-size: 13px;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.player__btn-wrapper {
  display: flex;
  justify-content: space-between;
  width: 38%;

  @media (orientation: landscape) {
    width: 25%;
  }

  @media (min-width: 1024px) {
    width: 15%;
  }
}

.player__controlers {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;

  @media (orientation: landscape) {
    font-size: 17px;
  }

  @media (min-width: 768px) {
    font-size: 26px;
  }
}

.player__prev {
  transform: rotate(180deg);
}
